#white-pieces
{
    margin: 6px 0 0 0;
    padding: 0;
    width: 268px;
    height: 32px;
    position: relative;
}

#black-pieces
{
    margin: 0 0 6px 0;
    padding: 0;
    width: 268px;
    height: 32px;
    position: relative;
}

#white-pieces img, #black-pieces img
{
    margin: 0;
    width: 32px;
    height: 32px;
}

#wK, #bK
{
    position: absolute;
    top: 0;
    left: 38px;
}

#wQ, #bQ
{
    position: absolute;
    top: 0;
    left: 70px;
}

#wB, #bB
{
    position: absolute;
    top: 0;
    left: 102px;
}

#wN, #bN
{
    position: absolute;
    top: 0;
    left: 134px;
}

#wR, #bR
{
    position: absolute;
    top: 0;
    left: 166px;
}

#wP, #bP
{
    position: absolute;
    top: 0;
    left: 198px;
}

#board
{
    position: relative;
    padding: 0;
    margin: 0;
    width: 268px;
    height: 268px;
    background-image: url(default/board.png);
}

.ca
{
    position: absolute;
    left: 6px;
    width: 32px;
    height: 32px;
}

.cb
{
    position: absolute;
    left: 38px;
    width: 32px;
    height: 32px;
}

.cc
{
    position: absolute;
    left: 70px;
    width: 32px;
    height: 32px;
}

.cd
{
    position: absolute;
    left: 102px;
    width: 32px;
    height: 32px;
}

.ce
{
    position: absolute;
    left: 134px;
    width: 32px;
    height: 32px;
}

.cf
{
    position: absolute;
    left: 166px;
    width: 32px;
    height: 32px;
}

.cg
{
    position: absolute;
    left: 198px;
    width: 32px;
    height: 32px;
}

.ch
{
    position: absolute;
    left: 230px;
    width: 32px;
    height: 32px;
}

.r1
{
    top: 230px;
}

.r2
{
    top: 198px;
}

.r3
{
    top: 166px;
}

.r4
{
    top: 134px;
}

.r5
{
    top: 102px;
}

.r6
{
    top: 70px;
}

.r7
{
    top: 38px;
}

.r8
{
    top: 6px;
}

.hover-cell
{
    border: 1px solid red;
}